*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


.accueil{
    background: url(/assets/images/background-accueil.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.carousel-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 135, 84, 0.3);
}


.nav-link:hover{
    border-bottom: 2px solid white;
    font-weight: bold;
}

.nav-link:active{
    border-bottom: 2px solid white;
}

.btn-defilement{
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn-defilement:hover{
    content: url(/assets/icones/icone_03.png);
    /* transform: scale(1.1); */
}

.separator{
    background: url(/assets/images/damier.png);
    background-repeat: repeat-x;
    background-position: left;
    max-height: 80px;
}

.nav-link-footer:hover{
    font-weight: bold;
    text-decoration: none;
}
.nav-link-footer{
    font-weight: bold;
    text-decoration: none;
}

.section_presentation{
    background: url(/assets/images/background_presentation_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}